In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Set up in our csv to read
deaths = "./Resources/US-death-rates-from-air-pollution.csv"
deaths_df = pd.read_csv(deaths)
deaths_df.head()

,Entity,Code,Year,"Air pollution (total) (deaths per 100,000)","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)"
0,United States,USA,1990,31.195070,0.283396,28.084035,3.281703
1,United States,USA,1991,30.856114,0.271225,27.700241,3.348164
2,United States,USA,1992,30.279203,0.257007,27.106771,3.383141
3,United States,USA,1993,30.752355,0.252343,27.447251,3.541285
4,United States,USA,1994,30.474388,0.241280,27.122679,3.606160

In [14]:
# Drop the columns we don't need
deaths_transformed = deaths_df[["Year","Air pollution (total) (deaths per 100,000)"]]
# Find only the years 2000-2009
deaths_transformed = deaths_transformed.loc[(deaths_transformed["Year"]>=2000)&(deaths_transformed["Year"]<=2009)].reset_index()
# Rename column for readability
deaths_transformed = deaths_transformed.rename(columns={"Air pollution (total) (deaths per 100,000)":"Air_Pollution_Deaths"})
# Make our final table with new columns
deaths_transformed = deaths_transformed[["Year","Air_Pollution_Deaths"]]
deaths_transformed

   Year  Air_Pollution_Deaths
0  2000             29.107689
1  2001             28.931137
2  2002             28.651409
3  2003             28.126964
4  2004             26.965198
5  2005             26.634436
6  2006             25.933688
7  2007             25.117557
8  2008             24.654824
9  2009             23.931275

In [15]:
# Set up engine connection
connection_string = "group3:Butler@localhost:5432/pollution_db"
engine = create_engine(f'postgresql://{connection_string}')

In [5]:
# Check the connection
engine.table_names()

['population', 'deaths']

In [12]:
# Load the dataframe into our database
deaths_transformed.to_sql(name="deaths", con=engine, if_exists='append', index=True)